body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
}

h1 {
    margin-bottom: 30px;
    color: #333;
    text-align: center; /* Asegura que el título esté centrado */
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center; /* Centra los botones horizontalmente */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 300px; /* Limita el ancho del botón para evitar que sea muy grande */
}

button:hover {
    background-color: #45a049;
}
